---
import Layout from '@layouts/Layout.astro';
import { Materia } from '@components/Materia.jsx'
import { lista as listaMateriasInicio } from "@/lib/listaMateriasInicio.js"
import { nombresMaterias } from '@/lib/nombresMaterias';
import ordenador from '@/lib/ordenador';
import { $os as os } from "./node.mjs"

// array temporal contiene objetos con posición y valor de ordenamiento
const mapped = listaMateriasInicio.map((el, i) => {
  return { index: i, value: el.title.toLowerCase() }
});

// ordenando el array mapeado que contiene los valores reducidos
mapped.sort(function (a, b) {
  if (a.value > b.value) return 1
  if (a.value < b.value) return -1
  return 0
});

// contenedor para el orden resultante
const result = mapped.map((el) => {
  return el.index
});

const resultThree = ordenador({ lista: listaMateriasInicio, tipo: "materias" })
// console.log("mapped: ", mapped)
---

<Layout title="Inicio">
	<main class="grid place-items-center gap-8 w-full max-w-[calc(900px-(8*4))] mx-auto">
		<h1 class="title text-primary">Materias recientes</h1>
		<p>Tu sistema operativo es {os.hostname()}</p>
			{
				resultThree.map((idx) => {
					const { nm_primaryName, nm_shortName, nm_longName, nm_linkName } = nombresMaterias(listaMateriasInicio[idx.idx].title)
					return (
						<Materia
							title={nm_primaryName}
							body={nm_longName}
							href={nm_linkName}
						/>
					)
				})
			}
		<h2 class="title2">Lista de materias</h2>
		<materias-wrapper id="main" class="grid place-items-center gap-8 w-full max-w-[calc(900px-(8*4))] mx-auto">
			{
				result.map((idx) => {
					// console.log("nombresMaterias: ", nombresMaterias(listaMateriasInicio[idx].title))
					const { nm_primaryName, nm_shortName, nm_longName, nm_linkName } = nombresMaterias(listaMateriasInicio[idx].title)

					return (
						<Materia
							title={nm_primaryName}
							body={nm_longName}
							href={nm_linkName}
						/>
					)
				})
			}
		</materias-wrapper>
	</main>
</Layout>

<style>
	#main {
		grid-template-columns: repeat(auto-fill, minmax(calc(96px * 4), 1fr));
	}
</style>