---
import Layout from "@layouts/Layout.astro";
import { Materia } from "@components/Materia.jsx";
import { lista as listaMateriasInicio } from "@/lib/listaMateriasInicio.js";
import { nombresMaterias } from "@/lib/nombresMaterias";
import ordenador from "@/lib/ordenador";

// array temporal contiene objetos con posición y valor de ordenamiento
const mapped = listaMateriasInicio.map((el, i) => {
	return { index: i, value: el.title.toLowerCase() };
});

// ordenando el array mapeado que contiene los valores reducidos
mapped.sort(function (a, b) {
	if (a.value > b.value) return 1;
	if (a.value < b.value) return -1;
	return 0;
});

// contenedor para el orden resultante
const result = mapped.map((el) => {
	return el.index;
});

const ultimasMaterias = [
 { fecha: { dia: 1, mes: 1, año: 2024 }, idx: 4 },
 { fecha: { dia: 1, mes: 1, año: 2024 }, idx: 5 },
 { fecha: { dia: 1, mes: 1, año: 2024 }, idx: 6 },
 { fecha: { dia: 1, mes: 1, año: 2024 }, idx: 7 },
 { fecha: { dia: 1, mes: 1, año: 2024 }, idx: 8 },
 { fecha: { dia: 1, mes: 1, año: 2024 }, idx: 8 },
 { fecha: { dia: 1, mes: 1, año: 2024 }, idx: 8 },
 { idx: 9 },
];
// console.log("mapped: ", mapped)

const hasVisitedMaterias = true
---

<Layout title="Inicio">
	<main
		class="grid place-items-center gap-8 w-full max-w-[calc(900px-(8*4))] mx-auto"
	>
		<wrapper-recent class:list={[{
			"flex flex-col": hasVisitedMaterias,
			"hidden": !hasVisitedMaterias,
		}]}>
			<h1 class="title">Reciente</h1>
			<ultimas-materias class="w-full flex flex-wrap gap-8 justify-center">
				{
					ultimasMaterias.map((data) => {
						const { fecha, idx } = data
						const { nm_primaryName, nm_linkName } = nombresMaterias(listaMateriasInicio[idx].title);
						let details: string
						let link: string
						if (!fecha) {
							details = "Inicio"
							link = `${nm_linkName}/`
						} else {
							const { dia, mes, año } = fecha
							details = `Clase ${dia}/${mes}/${año}`
							link = `${nm_linkName}/${nm_linkName}_day${dia}_${mes}_${año}`
						}

						return (
						<article class="card bg-primary-content w-[200px] min-w-fit h-full max-h-[140px] shadow-xl text-primary">
							<a aria-label={nm_primaryName} href={link} class="card-body cursor-pointer">
								<h2 class="card-title">{nm_primaryName}</h2>
								<p>{details}</p>
							</a>
						</article>
						);
					})
				}
			</ultimas-materias>
		</wrapper-recent>
		<h2 class="title text-primary">Lista de materias</h2>
		<materias-wrapper
			id="main"
			class="grid place-items-center gap-8 w-full max-w-[calc(900px-(8*4))] mx-auto"
		>
			{
				result.map((idx) => {
					// console.log("nombresMaterias: ", nombresMaterias(listaMateriasInicio[idx].title))
					const { nm_primaryName, nm_shortName, nm_longName, nm_linkName } =
						nombresMaterias(listaMateriasInicio[idx].title);

					return (
						<Materia
							title={nm_primaryName}
							body={nm_longName}
							href={nm_linkName}
						/>
					);
				})
			}
		</materias-wrapper>
	</main>
</Layout>

<style>
	#main {
		grid-template-columns: repeat(auto-fill, minmax(calc(96px * 4), 1fr));
	}
</style>
