---
import Layout from "./Layout.astro";
import { FinalCrumb } from "./FinalCrumb"
import { mes as convertMes} from "@/lib/mes";
import { nombresMaterias } from "@/lib/nombresMaterias";

interface Props {
  fecha?: any,
  linkName?: string,
}

let { fecha, linkName = "" } = Astro.props;

let dia: string
let mes: string
let año: string
let fechaCorta: string
let fechaLarga: string

if (fecha) {
  dia = fecha.dia;
  mes = fecha.mes;
  año = fecha.año;
  fechaCorta = `Clase ${dia}/${mes}`
  fechaLarga = (año) ? `${dia} de ${convertMes[+mes - 1]} de ${año}` : `${dia} de ${convertMes[+mes - 1]}` 
}

const title = fechaCorta ?? "Inicio"
const { nm_primaryName, nm_shortName } = nombresMaterias(linkName)

---

<Layout title=`${title} - ${nm_shortName}`>
  <main class="text-primary w-full max-w-[calc(900px-(8*4))] h-full mx-auto px-8 flex flex-col">
    <div class="min-h-16 max-w-[700px] w-full mx-auto flex justify-between items-center flex-wrap">
      <div class="breadcrumbs h-8">
        <ul class="h-full">
          <li><a href="/">Inicio</a></li>
          <li><a href={`/${linkName}/`}>{nm_primaryName}</a></li>
          <FinalCrumb longDate={fechaLarga} link={""} />
        </ul>
      </div>
    </div>
    <section id="clase-wrapper" class="max-w-[700px] w-full mx-auto flex flex-col">
      <p class="flex flex-nowrap ml-auto">{fechaLarga}</p>
      <slot />
    </section>
  </main>
</Layout>

<style is:global>
  #clase-wrapper > article {
    max-width: 700px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
</style>