---
import LayoutMaterias from "./LayoutMaterias.astro";
import { mes as convertMes} from "@/lib/mes";

interface Props {
  fecha?: any,
  linkName?: string,
}

let { fecha, linkName = "" } = Astro.props;

let dia: string
let mes: string
let año: string
let fechaCorta: string
let fechaLarga: string

if (fecha) {
  dia = fecha.dia;
  mes = fecha.mes;
  año = fecha.año;
  fechaCorta = `Clase ${dia}/${mes}`
  fechaLarga = (año) ? `${dia} de ${convertMes[+mes - 1]} de ${año}` : `${dia} de ${convertMes[+mes - 1]}` 
}

---

<LayoutMaterias
  fecha={fecha}
  linkName={linkName}
>

  <clase-wrapper class="flex flex-col items-center">
    <article id="day-wrapper" class="max-w-[700px] w-full mx-auto flex flex-col">
      <p class="flex flex-nowrap ml-auto mb-6">{fechaLarga}</p>
      <slot />
    </article>
  </clase-wrapper>

</LayoutMaterias>